<!-- Div to append list of other users -->
<div ng-init="csc.getUsers()">
  <h2>List of current CareShare users:</h2>
    <!-- <div class="container" ng-repeat="user in csc.users.list"><br>
      <button ng-click="csc.shareProfile()" type="button" name="button" class="btn btn-info">Share with {{user.username}}</button>
    </div> -->
    {{csc.selectedUser}}
    <select ng-model="csc.selectedUser" ng-options="user._id as user.username for user in csc.users.list">
    </select>
    <br><br>
    <button ng-click="csc.returnToProfile()" type="button" name="button" class="btn btn-info">Back to profile</button>
</div>
