<div class="container">
    <h1 id="welcome" class="user">Welcome, {{uc.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.logout()">Log Out</button>
    <h3>Add a profile!</h3>
    <form class="careProfileInputs" action="index.html" method="post">
      <input ng-model="uc.imageUrl" type="text" placeholder="Image url" value="">
      <input ng-model="uc.nameIn" type="text" placeholder="name" value=""><br><br>
      <input ng-model="uc.basicInfoIn" type="text" placeholder="Basic Info" value="" size="50"><br><br>
      <input ng-model="uc.careInfoIn" type="text" placeholder="Care info" value="" size="50">
      <button ng-click="uc.addProfile()" type="button" name="button" class="btn btn primary">Submit</button>
    </form>
</div>
<br><br><br><br>
<!-- Div to append user profiles and edit/share/delete buttons -->
<h2 class="h2">Your Care Profiles:</h2>
<div class="profileContainer container col-sm-3">
  <div ng-hide="uc.hideProfile" class="profile" ng-repeat="prof in uc.allProfiles">
    <img class="profImg" ng-src="{{prof.imageUrl}}" alt="" height="50%" width="50%">
    <div class="profileText">
      <h2>{{prof.name}}</h2>
      <p>{{prof.basicInfo}}</p>
      <p>{{prof.careInfo}}</p>
    </div>
    <button ng-model="uc.hideProfile" ng-click="uc.addEditables()" type="button" name="button" class="btn editBtn">Edit</button>
    <button ng-click="uc.shareProfile()" type="button" name="button" class="btn shareBtn">Share</button>
    <button ng-click="uc.deleteProfile(prof._id)" type="button" name="button" class="btn deleteBtn">Delete</button>
  </div>
</div>
<!-- Div to ng-show the editable input fields that replace the profile elements -->
<a href ng-click="goCats = !goCats">Toggle Cats</a>
<img ng-src="http://i.imgur.com/vkW3Lhe.jpg" ng-show="goCats">
