<div class="container">
    <h1 id="welcome" class="user">Welcome, {{uc.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.logout()">Log Out</button>
    <h3>Add a profile!</h3>
    <form class="careProfileInputs" action="index.html" method="post">
      <input ng-model="imageUrl" type="text" placeholder="Image url" value="">
      <input ng-model="nameIn" type="text" placeholder="name" value=""><br><br>
      <input ng-model="basicInfoIn" type="text" placeholder="Basic Info" value="" size="50"><br><br>
      <input ng-model="careInfoIn" type="text" placeholder="Care info" value="" size="50">
      <button ng-click="uc.submit()" type="button" name="button" class="btn btn primary">Submit</button>
    </form>
</div>
